@mixin button () {
	display: inline-flex;
	align-items: center;
	gap: .5rem;
	
	border: 1px solid;
	cursor: pointer;

	padding: .5em 1em;
	margin: 0;
	width: auto;
}

@mixin styled-button ($type, $color) {
	&--#{$type} {
		color: var(--color-#{$color});
		background-color: var(--color-#{$type});
		border-color: var(--color-#{$type});
		@content;
		@include transition ("default");
		@include hover-focus {
			color: var(--color-#{$color});
			background-color: var(--color-#{$type}-hover);
			border-color: var(--color-#{$type}-hover);
		}
	}
}

.btn {
	@include button ();

	@include styled-button("primary", "light");

	@include styled-button("secondary", "light");

	@include styled-button("success", "light");

	@include styled-button("danger", "light");

	@include styled-button("warning", "dark");

	@include styled-button("info", "dark");

	@include styled-button("light", "dark");

	@include styled-button("dark", "light");

	&--link {
		color: #0d6efd;
		background-color: transparent;
		text-decoration: underline;

		@include hover-focus() {
			color: #0a58ca;
		}
	}
}